.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  position: relative;
}

/* form styles */

.form-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40dvw;
  max-width: 60dvw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 14px 7px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 14px 7px rgba(0,0,0,0.25);
box-shadow: 0px 4px 14px 7px rgba(0,0,0,0.25);
}


.form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-input-container > span {
  margin-bottom: 1dvh;
}

/*logo and inputs styles*/

.logo {
  margin-bottom: 20px;
}

.form-input-styles {
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
}

.form-input-styles:active {
  border: 1px solid black !important;
}

.form-text-area {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  resize: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

button[type='reset'] {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #545454;
  width: 15dvw;
  height: 3dvh;
  padding-top: 5px;
  padding-bottom: 5px;
}

button[type='submit'] {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  border: 1px solid #545454;
  width: 15dvw;
  height: 3dvh;
  padding-top: 5px;
  padding-bottom: 5px;
}

button:disabled {
  background-color: #202020;

}

.closebutton {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #545454;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closebutton > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #545454;
}

/*alert styles*/

.alert {
  position: absolute;
  top: 10px;
  width: 300px;
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 255, 64, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.alert-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.alert-text {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}

/*technical styles*/

.flex-row {
  flex-direction: row;
}
.error {
  color: red;
}
.red-star {
  color: red;
}
.hidden {
  display: none;
}

/*media queries*/

@media (max-width: 650px) {
 .logo {
  width: 150px;
 }
 .form-button-container {
  flex-direction: column;
 }
 .form-button-container > button {
  width: 100%;
  margin-bottom: 1dvh;
 }
 .form-text-area {
  height: 80px;
 }
}
